{
  "openapi": "3.0.1",
  "info": {
    "title": "Restcountries",
    "description": "API for restcountries.eu",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://restcountries.eu/"
    }
  ],
  "tags": [
    {
      "name": "Rest",
      "description": "Operations about Rest"
    }
  ],
  "paths": {
    "/rest/v2/name/{name}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Country Name",
        "operationId": "GetByCountryName",
        "parameters": [
          {
            "name": "name",
            "in": "path",
            "description": "CountryName",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "South Africa"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAll"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/region/{region}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Region",
        "operationId": "GetByRegion",
        "parameters": [
          {
            "name": "region",
            "in": "path",
            "description": "Region",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Europe"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAll"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/capital/{capital}": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get By Capital",
        "operationId": "GetByCapital",
        "parameters": [
          {
            "name": "capital",
            "in": "path",
            "description": "capital",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "Pretoria"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAll"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/rest/v2/all": {
      "get": {
        "tags": [
          "Rest"
        ],
        "description": "Get All",
        "operationId": "GetAll",
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/GetAll"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Countries": {
        "required": [
          "alpha2Code"
        ],
        "type": "object",
        "properties": {
          "alpha2Code": {
            "type": "string"
          },
          "alpha3Code": {
            "type": "string"
          },
          "altSpellings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "area": {
            "type": "number",
            "format": "float"
          },
          "borders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "callingCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "capital": {
            "type": "string"
          },
          "cioc": {
            "type": "string"
          },
          "demonym": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          },
          "gini": {
            "type": "number",
            "format": "float"
          },
          "latlng": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "name": {
            "type": "string"
          },
          "nativeName": {
            "type": "string"
          },
          "numericCode": {
            "type": "string"
          },
          "population": {
            "type": "integer",
            "format": "int32"
          },
          "region": {
            "type": "string"
          },
          "subregion": {
            "type": "string"
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "topLevelDomain": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Model for Countries"
      },
      "GetAll": {
        "required": [
          "alpha2Code"
        ],
        "type": "object",
        "properties": {
          "alpha2Code": {
            "type": "string"
          },
          "alpha3Code": {
            "type": "string"
          },
          "altSpellings": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "area": {
            "type": "number",
            "format": "float"
          },
          "borders": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "callingCodes": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "capital": {
            "type": "string"
          },
          "cioc": {
            "type": "string"
          },
          "demonym": {
            "type": "string"
          },
          "flag": {
            "type": "string"
          },
          "gini": {
            "type": "number",
            "format": "float"
          },
          "latlng": {
            "type": "array",
            "items": {
              "type": "number",
              "format": "float"
            }
          },
          "name": {
            "type": "string"
          },
          "nativeName": {
            "type": "string"
          },
          "numericCode": {
            "type": "string"
          },
          "population": {
            "type": "integer",
            "format": "int32"
          },
          "region": {
            "type": "string"
          },
          "subregion": {
            "type": "string"
          },
          "timezones": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "topLevelDomain": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "description": "Model for GetAll"
      }
    }
  }
}